
#add {
  background-color: var(--secondary);
  font-weight: bold;
  color: var(--lightgray);
}

#header > label > select {
  height: 32px;
  padding: 0 8px;
  background-color: var(--lightgray);
  border: none;
  font-weight: bold;
  color: var(--darkgray);
  cursor: pointer;
}

.folder {
}

.folder-contents {
  color: var(--darkgray);
  padding-left: 8px;
  margin-left: 9px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  border-left: 1px solid var(--gray);
}

.file {
  display: flex;
  width: 100%;
  margin: 4px 0px;
}

.file:nth-child(odd) {
  background-color: var(--lightgray);
}

.file > .size {
  margin-left: auto;
}

